body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board .row {
  display: flex;
  justify-content: center;
}

.board .cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .cell.gray {
  background-color: gray;
}

.board .cell .piece {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.board .cell .piece.selected {
  border: 1px solid yellow;
}

.board .cell .piece.clickable {
  cursor: pointer;
}

.board .cell .piece.black {
  background-color: black;
}

.board .cell .piece.red {
  background-color: red;
}

.board .cell .piece.redQueen {
  background-color: rgba(255, 200, 200, 1);
}

.board .cell .piece.blackQueen {
  background-color: rgba(30, 30, 30, 1);
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  background-color: #007bff;
  color: white;
  padding: 8px 0px 16px 0px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title > span {
  margin-top: 8px;
  font-size: 8px;
}

.title:hover {
  color: orange;
  cursor: pointer;
}

.form-control {
  text-align: center;
}

.game__info {
  margin-bottom: 20px;
}
